
@media only screen and (min-width: 850px) {
	.shop-slider-slide .mobile-printers, .shop-printers-slider .mobile-printers {
		display: none;
	}

	.shop-slide-btn-mobile {
		display: none;
	}
}

@media only screen and (max-width: 850px) {
	.shop .container {
		position: relative;
	}

	.shop-slider .slick-slide {
		flex-direction: column;
		align-items: center;
	}

	.shop-slider-image {
		max-width: 500px;
	}

	.shop-slider .shop-slide-buttons {
		display: none;
	}

	.shop-slider-slide .mobile-printers, .shop-printers-slider .mobile-printers{
		display: block;
	}
	
	.shop-slider-slide .desktop-printers, .shop-printers-slider .desktop-printers{
		display: none;
	}

	.shop-slide-btn-mobile {
		display: block;
	}

	.shop-slider-text {
		margin-top: 60px;
	}

	.shop-slider-title {
		top: 30px;
	}

	.shop-slider-wrap {
		overflow: visible;
	}

	.logos-slider-wrap {
		bottom: -140px;
		left: 50%;
		transform: translateX(-50%);
	}

	.shop-slider .priсe-item {
		bottom: -74px;
		right: 50%;
		transform: translateX(50%);
		padding: 0 20px;
		align-items: center;
	}

	.shop-printers-slider .shop-printers-slide .priсe-item{
		bottom: 2px;
		right: 0;
	}

	.sh-title {
		font-size: 20px;
	}

	.teach-left-column {
		width: 40%;
	}

	.teach-right-column {
		width: 60%;
	}

	.shop-printers-slider .shop-slider-text {
		margin-top: 0;
		width: 55%;
	}
	.shop-printers-slider .shop-slider-image {
		margin-top: 0;
		width: 45%;
	}

	.shop-printers-slider .shop-printers-slide {
		align-items: center;
	}

}

@media only screen and (min-width: 670px) {
	.main-header-phone-icon {
		display: none;
	}

	.mob-button-wrap {
		display: none;
	}
}

@media only screen and (max-width: 670px) {
	.shop .container {
		padding: 0 20px;
	}

	.main-header-phone-icon {
		display: block;
	}

	.main-header-phone {
		display: none;
	}

	
	.teach-wrapper {
		flex-direction: column;
		align-items: center;
	}

	.teach-left-column {
		width: 100%;
	}

	.teach-right-column {
		width: 100%;
		margin-bottom: 30px;
	}

	.teach-photo-slider {
		margin: 0 auto;
	}

	.finger-wrap {
		display: flex;
		align-items: center;
	}

	.teach .teach-descr {
		display: none;
	}
	.teach .teach-btn {
		display: none;
	}

	.mob-button-wrap {
		display: flex;
	}
	.mob-button-wrap .teach-descr {
		display: block;
	}
	.mob-button-wrap .teach-btn {
		display: block;
	}

	.finger-wrap img {
		margin-right: 10px;
	}

	.mob-button-wrap {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.mob-button-wrap .teach-descr {
		margin-bottom: 27px;
	}

}

@media only screen and (max-width: 600px) {
	.shop-printers-slider .shop-slider-text {
		margin-top: 0;
		width: 45%;
	}
	.shop-printers-slider .shop-slider-image {
		margin-top: 0;
		width: 55%;
	}
}


@media only screen and (min-width: 600px) {
	.hamburger {
		display: none;
	}
} 

@media only screen and (max-width: 600px) {
	.main-header-left {
		display: none;
	}

	.main-header-right {
		margin-left: auto;
	}

	.main-header-logo {
		left: 0;
		transform: translate(0, -50%);
	}

	.hamburger {
		display: block;
	}

	.main-header {
		height: 36px;
	}

	.slide-printer-title {
		font-size: 32px;
	}

	.shop-slider .shop-slide-btn {
		padding: 16px 40px;
		font-size: 14px;
	}

	.shop-slider .shop-slide-btn span {
		font-size: 14px;
	}

	.priсe-item .price, .shop-printers-slide .priсe-item {
		font-size: 24px;
		text-transform: uppercase;
	}

	.shop-printers-slider .shop-printers-slide .priсe-item{
		bottom: 12px;
		right: 0;
	}


	.logo-slider .logo-slide {
		display: flex;
		justify-content: center;
	}

	.logo-slide img {
		margin-right: 0;
	}
}

@media only screen and (min-width: 590px) {
	.shop-printers-slider .shop-slide-buttons-mob {
		display: none;
	}
}

@media only screen and (max-width: 590px) {
	.shop-printers-slider .printers-wrap {
		flex-direction: column;
	}

	.shop-printers-slider .shop-slide-buttons {
		display: none;
	}

	.shop-printers-slider .shop-slide-buttons-mob {
		display: block;
		order: 3;
		margin-top: 70px;
	}

	.shop-printers-slide .slide-printer-title {
		font-size: 20px;
	}

	.shop-printers-slider .shop-slider-text {
		order: 1;
		width: 100%;
	}

	.shop-printers-slider .shop-slider-image {
		order: 2;
		width: 100%;
	}

	.shop-printers-slider .detail-wrap {
		display: none;
	}

	.shop-printers-slider .shop-printers-slide .priсe-item{
		bottom: 60px;
		right: 100%;
		transform: translateX(100%);
		font-size: 24px;
	}

	.shop-printers-slider .shop-slide-btn {
		margin-top: 40px;
	}
} 

@media only screen and (max-width: 500px) {
	.shop-slider-title {
		font-size: 12px;
	}

	.slide-printer-descr {
		font-size: 12px;
	}
}

@media only screen and (max-width: 400px) {
	.shop-printers-slider .printers-wrap {
		max-width: 200px;
	}

	.shop-printers .container {
		padding-right: 0;
	}
}